@model int
@{
    ViewData["Title"] = "Formulario";
}

@{
    String val = "No Value";
    if (Model == 1)
    {
        val = "Nuevo";
    }
    else
    {
        val = "Editar";
    }
}

    <h1>Formulario @val </h1>

