@model int
@{
    ViewData["Title"] = "Formulario";
}

@{
        if (Model == 1) 
        { 
            String val = "Nuevo"; 
        } 
        else
        { 
            String val = "Editar"; 
        }
}

    <h1>Formulario</h1>

