
@{
    ViewData["Title"] = "Bitacora General";
}

<h1>Bitacora General - Hotel Suites Alamo</h1>

<a href=""> Logout </a>|<a href="/Tarifas"> Tarifas </a>|<a href="/Reservas"> Reservas </a>|<a href="/BitacoraGeneral/Detalles/Hab101"> Habitaciones </a>|<a href="/Huespedes"> Huespedes </a>|<a href="/Empleados"> Empleados </a>|<a href="/BitacoraDeMovimientos"> Bitacora de Movimientos </a>

<div class="general-box">
    <div class="left-box">
        Left box
    </div>
    <div class="right-box">
        Right Box
    </div>
    <div class="buttom-box">
        Buttom Box
    </div>
</div>