
@{
    ViewData["Title"] = "Bitacora General";
}

<h1>Bitacora General - Hotel Suites Alamo</h1>

<a href=""> Logout </a>|<a href="/Tarifas"> Tarifas </a>|<a href="/Reservas"> Reservas </a>|<a href="/BitacoraGeneral/Detalles/Hab101"> Habitaciones </a>|<a href="/Huespedes"> Huespedes </a>|<a href="/Empleados"> Empleados </a>|<a href="/BitacoraDeMovimientos"> Bitacora de Movimientos </a>

<div class="general-box">
    <div class="left-box">
        Left box
        <p>DESDE<input type="date" name="desde" value="2020-03-29" /></p>
        <p>HASTA<input type="date" name="desde" value="2020-03-30" min="2020-03-29" /></p>
        <p><input type="button" class="general-button" name="search" value="Search" /></p>
    </div>
    <div class="right-box">
        Right Box
        <div class="display-box">
            <div> 101 </div>
            <div> 102 </div>
            <div> 103 </div>
            <div> 104 </div>
            <div> 105 </div>
            <div> 106 </div>
            <div> 107 </div>
            <div> 201 </div>
            <div> 202 </div>
            <div> 203 </div>
            <div> 204 </div>
            <div> 205 </div>
            <div> 206 </div>
            <div> 207 </div>
            <div> 301 </div>
            <div> 302 </div>
            <div> 303 </div>
            <div> 304 </div>
            <div> 305 </div>
            <div> 306 </div>
            <div> 307 </div>
            <div> S1 </div>
            <div> S2 </div>
            <div> S3 </div>
            <div> S4 </div>
            <div> S5 </div>
            <div> S6 </div>
            <div> X </div>
        </div>
    </div>
    <div class="buttom-box">
        Buttom Box
        <p><input type="button" class="general-button" name="generarReporte" value="Generar Reporte" /><input type="button" class="general-button" name="empleados" value="Empleados" /><input type="button" class="general-button" name="reservas" value="Reservas" /><input type="button" class="general-button" name="movsXTurno" value="Movimientos por Turno" /></p>
    </div>
</div>