
@{
    ViewData["Title"] = "Empleados";
}

<h1>Vista Empleados</h1>
<a href="/BitacoraGeneral"> Volver a Bitacora General </a>|<a href="/Empleados/Formulario?data=1"> Nuevo Empleado </a>|<a href="/Empleados/Formulario?data=2&id=12345"> Editar Empleado </a>

