
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form>
        <p> USER <input type="text" name="user" pattern="user" /></p>
        <p> PASS <input type="password" name="pass" pattern="pass" /></p>
        <p> <input type="submit" value="ENTRAR"/> </p>
    </form>
</div>
