
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form method="post">
        <p> <input type="text" name="user" placeholder="Alias" class="general-input-text" /></p>
        <p> <input type="password" name="pass" placeholder="Contraseña" class="general-input-text" /></p>
        <p> <input type="submit" value="Entrar" class="general-button"/> </p>
    </form>
</div>
