
@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<div>
    <form>
        <p> Nombre <input type="text" name="name" pattern="name" /></p>
        <p> Correo <input type="email" name="eamil" pattern="email" /></p>
        <p> Alias <input type="text" name="alias" pattern="alias" /></p>
        <p> PASS <input type="password" name="pass" pattern="pass" /></p>
        <p> PASS <input type="password" name="pass" pattern="pass" /></p>
        <p> <input type="submit" value="REGISTRAR"/> </p>
    </form>
</div>