
@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<div>
    <form method="post">
        <p> Nombre <input type="text" name="name" placeholder="name" /></p>
        <p> Correo <input type="email" name="eamil" placeholder="email" /></p>
        <p> Alias <input type="text" name="alias" placeholder="alias" /></p>
        <p> PASS <input type="password" name="pass" placeholder="pass" /></p>
        <p> PASS <input type="password" name="pass" placeholder="pass" /></p>
        <p> <input type="submit" value="REGISTRAR"/> </p>
    </form>
</div>