
@{
    ViewData["Title"] = "Huespedes";
}

<h1>Vista de Huespedes</h1>
<a href="/BitacoraGeneral"> Volver a Bitacora General </a>|<a href="/Huespedes/Formulario?data=1"> Nuevo Cliente </a>|<a href="/Huespedes/Formulario?data=2&id=12345"> Editar Huesped </a>

