@model int

@{
    String val = "No Value";
    if (Model == 1)
    {
        val = "Nueva Reserva";
    }
    else
    {
        val = "Editar Reserva ";
    }
}

@{
    ViewData["Title"] = val + ViewData["id"];
}

<h1>Formulario @val  @ViewData["id"]</h1>

