@model int

@{
    String val = "No Value";
    if (Model == 1)
    {
        val = "Nueva Reserva";
    }
    else
    {
        val = "Editar Reserva " + ViewData["id"];
    }
}

@{
    ViewData["Title"] = val;
}

<h1>Formulario @val </h1>
<a href="/Reservas"> Volver a Reservas </a>

