
@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>
<a href="/BitacoraGeneral"> Volver a Bitacora General</a>|<a href="/Reservas/Formulario?data=1"> Crear Reserva </a>|<a href="/Reservas/Formulario?data=2&id=12345"> Editar Reserva </a>
